<h1>Editing admin_partner</h1>

<%= render 'form', specific_url: admin_partner_path(@admin_partner.id) %>

<%= link_to 'Show', admin_partner_path(@admin_partner.id) %> |
<%= link_to 'Back', admin_partners_path %>
