<div class="page-header">
  <%= link_to website_stages_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to website_stage_path(@clapme_stage.id), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing stage</h1>
</div>

<%= render 'form', specific_url: website_stage_path(@clapme_stage.id) %>
