<div class="page-header">
  <%= link_to website_stages_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New stage</h1>
</div>

<%= render 'form', specific_url: website_stages_path %>
