<h1>Editing admin_stage</h1>

<%= render 'form', specific_url: admin_stage_path(@admin_stage.id) %>

<%= link_to 'Show', admin_stage_path(@admin_stage.id) %> |
<%= link_to 'Back', admin_stages_path %>
